<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="omni_car_gazebo" params="prefix">

    <!-- ros_control plugin -->
    <gazebo>
      <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find omni_car)/config/omni_car_controllers.yaml</parameters>
      </plugin>
    </gazebo>

    <gazebo reference="${prefix}base_link">
      <material>Gazebo/Orange</material>
    </gazebo>

    <!-- Visual and collision properties for wheels -->
    <xacro:property name="wheel_mu1" value="0.2"/>
    <xacro:property name="wheel_mu2" value="0.1"/>
    <xacro:property name="wheel_material" value="Gazebo/Yellow"/>

    <xacro:macro name="wheel_properties" params="wheel_name">
      <gazebo reference="${prefix}${wheel_name}">
        <mu1>${wheel_mu1}</mu1>
        <mu2>${wheel_mu2}</mu2>
        <material>${wheel_material}</material>
      </gazebo>
      <gazebo reference="${prefix}${wheel_name}_force_transform">
        <mu1>${wheel_mu1}</mu1>
        <mu2>${wheel_mu2}</mu2>
      </gazebo>
    </xacro:macro>

    <xacro:wheel_properties wheel_name="wheel_front_left"/>
    <xacro:wheel_properties wheel_name="wheel_front_right"/>
    <xacro:wheel_properties wheel_name="wheel_rear_left"/>
    <xacro:wheel_properties wheel_name="wheel_rear_right"/>

  </xacro:macro>

</robot>