<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="kinect" params="name parent_frame prefix *origin">
  <link name="${prefix}${name}_link">
    <visual>
      <geometry>
        <mesh filename="file://$(find omni_car)/meshes/kinect.dae"/>
      </geometry>
      <material name="grey" />
    </visual>
    <collision>
      <geometry>
        <box size=".0730 .2760 .0720"/>
      </geometry>
    </collision>
  </link>

  <link name="${prefix}${name}_depth_frame"/>
  <link name="${prefix}${name}_rgb_frame"/>

  <joint name="${prefix}base_${name}_joint" type="fixed">
    <xacro:insert_block name="origin" />
    <parent link="${parent_frame}" />
    <child link="${prefix}${name}_link" />
  </joint>

  <joint name="${prefix}${name}_depth_joint" type="fixed">
    <origin xyz="0 0.011 0" rpy="0 0 0" />
    <parent link="${prefix}${name}_link" />
    <child link="${prefix}${name}_depth_frame" />
  </joint>

  <joint name="${prefix}${name}_rgb_joint" type="fixed">
    <origin xyz="0 -0.012 0" rpy="0 0 0" />
    <parent link="${prefix}${name}_link" />
    <child link="${prefix}${name}_rgb_frame" />
  </joint>

  </xacro:macro>
</robot>
