<?xml version="1.0" encoding="utf-8"?>
<robot name="omni_car" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="prefix" default=""/>

  <xacro:include filename="$(find omni_car)/urdf/omni_car_description.urdf.xacro"/>
  <xacro:include filename="$(find omni_car)/gazebo/omni_car.gazebo.xacro"/>
  <xacro:include filename="$(find omni_car)/ros2_control/omni_car.ros2_control.xacro"/>

  <xacro:omni_car prefix="$(arg prefix)"/>
  <xacro:omni_car_ros2_control name="OmniCar" prefix="$(arg prefix)"/>
  <xacro:omni_car_gazebo prefix="$(arg prefix)"/>

</robot>
